body {
	padding-top: 40px;
	padding-bottom: 40px;
}

#content {
	width: 870px;
}

td, th {
	text-align: center;
}

.empty-button {
	width: 100px;
}

table.borderless td {
    border-top: none !important;
}

.answer {
	width: 300px;
}

table.stat td {
	text-align: left;
}