<!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Quiz Game &ndash; Добавить вопрос</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/styles.css" />
	<link rel="stylesheet" href="/css/form.css" />
	<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="/js/admin.js"></script>
</head>
<body>
	<div class="container">
		<form th:action="@{/admin/add}" method="post" class="form-signin">
			<h2 class="form-signin-heading">Добавить вопрос</h2>
			<select class="form-control" id="topics" name="topicId" autofocus="autofocus" required="required">
			</select>
			<br />
			<textarea name="question" class="form-control" rows="3" placeholder="Текст вопроса" required="required"></textarea>
			<br />
			<input type="text" name="answer1" class="form-control" placeholder="Правильный ответ" required="required" autofocus="autofocus" />
			<br />
			<input type="text" name="answer2" class="form-control" placeholder="Вариант ответа" required="required" autofocus="autofocus" />
			<br />
			<input type="text" name="answer3" class="form-control" placeholder="Вариант ответа" required="required" autofocus="autofocus" />
			<br />
			<input type="text" name="answer4" class="form-control" placeholder="Вариант ответа" required="required" autofocus="autofocus" />
			<br />
        	<button class="btn btn-lg btn-primary btn-block" type="submit">Добавить</button>
		</form>
	</div>
</body>
</html>